<!DOCTYPE html>
<html>
<head>
    <!-- Include the CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/polls.css">
</head>
<body>
    <div id="choices">
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="1"></div>
          </div>
          <div class="label">
            <p>Boxing</p>
            <button data-choice="1">Vote</button>
          </div>
        </div>
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="2"></div>
          </div>
          <div class="label">
            <p>Gaming</p>
            <button data-choice="2">Vote</button>
          </div>
        </div>
        <div class="choice">
          <div class="result">
            <div class="bar" data-choice="3"></div>
          </div>
          <div class="label">
            <p>Hiking</p>
            <button data-choice="3">Vote</button>
          </div>
        </div>
      </div>

    <script src="../static/js/polls.js"></script>
</body>
</html>